
body {
    font-family: 'Roboto', sans-serif;
    border-top: 5px solid #8fb60d;
}

article {
    border-color: #d2d2d2;
    border-width: 1px;
    border-style: solid;
    background: white;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 50px 0px;
}

.panel-floating {
    border-top: 5px solid #8fb60d;
    border-bottom: 5px solid #8fb60d;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

h1 {
    font-weight: bold;
}

.metadata {
    color: grey;
    font-size: 1em;
    margin-bottom: 1em;
}

.centerWrapper {
    text-align: center;
}

.fixedWrapper {
    position: fixed;
}

.affix {
    top: 30px;
    width: 100%;
}

.sommaire ul {
    list-style-type: none;
}

.sommaire ul li a {
    text-decoration: none;
    color: #8fb60d;
    padding: 0px 10px;
    font-size: 1.35em;
    border-width: 0px 0px 0px 2px;
    border-color: transparent;
    border-style: solid;
    text-overflow: "...";
}

.sommaire > ul li a:hover {
    border-color: #8fb60d;
}

div.jumbotron {
    border-radius: 0px;
}

.navbar-ruby {
    padding: 20px;
}

.navbar-ruby a {
  color: #6e6e6e;
}

.navbar-ruby a:hover,
.navbar-ruby a:active {
    background: none;
}

.nav > li > a:focus, .nav > li > a {
    margin: 0px 10px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
}

.navbar-brand > img {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    transform: rotate(-40deg);
}

.navbar {
    margin-bottom: 0px;
}

