<html>
<head>
  <meta charset="utf-8"/>
  <script src="<%= @js_jquery_included %>"></script>
  <script src="<%= @js_prism_included %>"></script>
  <link rel="stylesheet" href="<%= @css_bt_included %>">
  <script src="<%= @js_bt_included %>"></script>
  <link rel="stylesheet" href="<%= @css_custom_included %>">
  <link rel="stylesheet" href="<%= @css_prism_included %>">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title><%= @website_title %></title>
</head>
<body>
<header>
  <nav class="navbar navbar-ruby">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="<%= @img_ruby %>"/><%= @website_title %></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% list_files.each do |file| %>
            <li><a href="<%= file %>"><%= file.gsub(/.html/, '') %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <div class="col-sm-9">
    <article class="panel-floating" id="<%= file_name %>">
      <header>
        <h3>File analysed: <%= file_name %></h3>
        <p class="text-muted"><%= @authors %></p>
        <p class="text-muted"><%= @comments %></p>
      </header>
      <% i = 0 %>
      <% @vulnerabilities.each do |hash| %>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#<%= i %>"><%= hash["database"]["name_function"] %> - line <%= hash["file"]["position"]["line"] %>, nb <%= hash["file"]["position"]["column"] %></a>
                </h4>
              </div>
              <div id="<%= i %>" class="panel-collapse collapse">
                <div class="panel-body"><%= hash["file"]["function"]["prototype"] %></div>
                <div class="panel-footer"><%= hash["database"]["description"] %></div>
              </div>
            </div>
          </div>
          <% i += 1 %>
      <% end %>
      <h3>File description:</h3>
      <div class="well">
        <% infos[:ret].each do |hash| %>
          <p><%= hash[:content] %></p>
        <% end %>
      </div>
    </article>
    <article class="panel-floating">
      <header>
        <h3>Filtered code</h3>
      </header>
      <pre><code id="source_code_filter" class="language-c line-numbers"><%= @source_code_filtered %></code></pre>
    </article>
    <article class="panel-floating">
      <header>
        <h3>Original code</h3>
      </header>
      <pre><code id="source_code" class="language-c line-numbers"><%= @source_code %></code></pre>
    </article>
  </div>
  <div class="col-sm-3">
    <div class="sommaire" data-spy="affix" data-offset-top="50">
      <ul>
        <li><h2>Index</h2></li>
        <li><a href="#<%= file_name %>">file analysed: <%= file_name %></a></li>
        <li><a href="#source_code_filter">filtered source code</a></li>
        <li><a href="#source_code">original source code </a></li>
      </ul>
    </div>
  </div>
</div>
<footer>
</footer>
</body>
</html>